<header class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a href="#" id="logo">bigger<span class="gray">pockets</span></a>
			<nav>
				<ul class="nav pull-right">
					
				</ul>
			</nav>
		</div>
	</div>
</header>